extends layout.pug

block content
  h1 Sample App
  p The #[a(href='https://expressjs.com/') Express Tutorial] sample application is based on the sample application from the #[a(href='https://rubyonrails.org') Ruby on Rails Tutorial]
