doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='/stylesheets/custom.css')
    title #{title} | Express Sample App
  body
    include _header.pug
    .container
      block content
    include _footer.pug
